{% extends 'layout.html.twig' %}
{% block content %}
	<div class="container-fluid text-center">
		<h1 class="d-none d-md-block text-center mt-5 mb-5">MOOD IN MUSIC</h1>
		{% if allSelected == false %}		
		<button type="button" id="all" class="d-none d-md-inline-block all-desktop btn-primary rounded-circle"><a href="vote">TOUS LES GENRES</a></button>
		{% endif %}
		<div class="d-none d-md-flex justify-content-evenly m-5 btn-group-lg row gy-3" role="group" aria-label="Un groupe de boutons" width="10rem;" height="3rem;">
			<button type="button"
			class="btn_list col-md-4 col-lg-2 flex-shrink-0 btn-primary rounded-circle"><a href="vote?id=1">POP</a></button>
			<button type="button"
			class="btn_list col-md-4 col-lg-2 flex-shrink-0 btn-secondary rounded-circle"><a href="vote?id=2">CINEMATIC</a></button>
			<button type="button"
			class="btn_list col-md-4 col-lg-2 flex-shrink-0 btn-success rounded-circle"><a href="vote?id=3">ELECTRO</a></button>

			<div class="w-100 h-50 d-lg-none"></div>

			<button type="button"
			class="btn_list col-md-4 col-lg-2 flex-shrink-0 btn-dark rounded-circle"><a href="vote?id=4">WORLD</a></button>
			<button type="button"
			class="btn_list col-md-4 col-lg-2 flex-shrink-0 btn-warning rounded-circle"><a href="vote?id=5">CHILLOUT</a></button>
			<button type="button"
			class="btn_list col-md-4 col-lg-2 flex-shrink-0 btn-info rounded-circle"><a href="vote?id=6">AMBIENT</a></button>
		</div>
	</div> 

	<div class="dropdown">
		<button class="d-md-none btn btn-light dropdown-toggle mb-5" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
			Sélectionner un genre
		</button>
		<ul class="dropdown-menu p-0" aria-labelledby="dropdownMenuButton1">
			<li><button class="dropdown-item btn-primary" id="allClassement"><a href="vote">TOUS LES GENRES</a></button></li>
			<li><button class="dropdown-item btn-primary"><a href="vote?id=1">POP</a></button></li>
			<li><button class="dropdown-item btn-secondary"><a href="vote?id=2">CINEMATIC</a></button></li>
			<li><button class="dropdown-item btn-success"><a href="vote?id=3">ELECTRO</a></button></li>
			<li><button class="dropdown-item btn-dark"><a href="vote?id=4">WORLD</a></button></li>
			<li><button class="dropdown-item btn-warning"><a href="vote?id=5">CHILLOUT</a></button></li>
			<li><button class="dropdown-item btn-info"><a href="vote?id=6">AMBIENT</a></button></li>
		</ul>
	</div>

	<main class="container">
		<h1 class="text-center mt-5 mb-5">
			Les meilleures musiques du mois
		</h1>
		<div class="d-md-none">
			<img src="../../../assets/images/artifice.gif" alt="Feu d\'artifice" class="img-fluid d-block mx-auto mb-5">
		</div>
		<div class="d-none d-md-block mb-5">
			<video class="video_fire" autoplay loop muted="Fire">
				<source src="../../../assets/video/Fire.mp4">
				<source src="../../../assets/video/Fire.webm">
			</video>
		</div>
		<div class="text-center">
			{% for vote in votes %}
				<p class="text-center mb-5">
					Avec {{ vote.number_vote }} voix
				</p>						
				<div class="medal d-md-flex flex-row justify-content-evenly align-items-start">							
					<div class="d-inline-flex p-2 bd-highlight card-{{ vote.genre_name }}" style="width: 20rem">
						<img class="align-self-center rounded-circle" src="{{ vote.music_image }}" alt="" width="80" height="80"/>
						<div class="m-2 align-self-center">
							<h5 class="card-title">{{ vote.title}}</h5>
							<h6 class="card-subtitle mb-2 text-muted"> by {{ vote.author }}</h6>
							<a href="player?id={{ vote.id }}" class="card-link">Link player</a>
						</div>
					</div>							
					<img src="../../../assets/images/medal_{{ loop.index }}.png" alt="Medaille" class="figure-img mb-5">		
				</div>
			{% endfor %}
		</div>
		<p class="text-center mt-5 mb-5">
		A très vite pour le prochain vote ...
		</p>
	</main>
{% endblock %}