{% extends 'layout.html.twig' %}

{% block content %}
<main class="container">
    <h1 class="text-center mt-3 mb-3"> Musique ajoutée :</h1>
    <h1 class="text-center mt-3 mb-3">
        {{music.title}} By {{music.author}} 
    </h1>
    <p class="text-center mt-3 mb-3">
        {{music.source}}
    </p>
    <p class="text-center">
        <img width="100px" class="mt-4" src="{{music.music_image}}">
    </p>
    <p class="text-center">
        {{music.genre_name}}
    </p>
    <p class="text-center">
        <button type="button" class="btn btn-light mt-2"><a href="edit?id={{music.id}}">Modifier</a></button>
        <button type="button" onclick="return confirm('Voulez-vous vraiment supprimer cette musique ?')" class="btn btn-danger mt-2"><a href="delete?id={{music.id}}">Supprimer</a></button>
    </p>
    <p class="text-center mb-5">
       <button type="button" class="btn btn-light m-2 p-2"><a href="/admin">Valider</a></button>
    </p>
</main>
{% endblock %}